{
  "printWidth": 120,
  "trailingComma": "all",
  "endOfLine": "auto",
  "semi": true,
  "singleQuote": true,
  "quoteProps": "consistent",
  "bracketSpacing": true,
  "arrowParens": "always",
  "tabWidth": 2,
  "parser": "typescript",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
